* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

table,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

td:nth-child(1) {
  width: 100px;
  height: 100px;
  text-align: center;
}

td:nth-child(2) {
  max-width: 1000px;
  width: 100vw;
}

#languages {
  border: 1px solid black;
  max-width: 1000px;
  width: 100vw;
  height: 90px;
}

img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

#s {
  background-color: rgb(255, 127, 127);
}

#a {
  background-color: rgb(255, 191, 127);
}

#b {
  background-color: rgb(255, 223, 127);
}

#c {
  background-color: #ffff7f;
}

#d {
  background-color: rgb(191, 255, 127);
}
